@using Moov2.Orchard.Analytics;

@{
    Style.Require("Analytics").AtHead();
    Script.Require("Analytics").AtFoot();
}

<span class="analytics-data js-analytics--anti-forgery">@Html.AntiForgeryTokenValueOrchard()</span>
<span class="analytics-data js-analytics--record-route">@Url.RouteUrl(Constants.RECORD_ROUTE_NAME, null)</span>